/__pycache__/
/DeepLearning/__pycache__/
/DeepLearning/__pycache__/tempCodeRunnerFile.py
/data_save/notes.txt
/legacy/
/tempCodeRunnerFile.py
/README2.md
/fashion-dataset/
/mnist-dataset/
*.npy